.container {
    display: flex;
    margin: 0 auto;
    width: 80vw;
}

.item-detail-and-setting-card {
    width: 60vw;
}

.purchase-detail-card {
    width: 20vw;
}

.item-img {
    height: 140px;
    width: 120px;
}