.container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin: 0 auto;
    width: 60vw;
}

.item-img {
    height: 550px;
    width: 450px;
}

.item-name {
    font-size: 2.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.item-brand-name {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0;
}

.item-price {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 10px;
}

.favorite-and-comment__td {
    line-height: 0;
    padding-right: 50px;
}

.icon {
    height: 40px;
    width: 40px;
}

.value {
    font-size: 0.75rem;
    padding-left: 15px;
}

.purchase-button {
    background-color: #FF5555;
    border-radius: 2px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.item-description-text {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.item-info-text {
    padding-top: 20px;
}

.item-category {
    font-size: 1rem;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.category-text {
    background-color: #D9D9D9;
    border-radius: 10px;
    font-size: 0.75rem;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: center;
    width: 180px;
}

.item-status-text {
    font-size: 1rem;
}

.item-status {
    margin-left: 20px;
}


@media (max-width: 1576px) {
    .container {
        width: 80vw;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90vw;
    }
}

@media (max-width: 1038px) {
    .container {
        display: block;
    }
}

@media (max-width: 586px) {
    .categories {
        grid-template-columns: repeat(1, 1fr);
    }
}